
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Shop Soto Os</title>
         <%- include("../partials/head.html") -%>
        </head>
<%-include('../partials/navbar.html');%>    


<div >
    <a href="/actualizar">Actualizar</a>
    <a href="/insertar">Insertar</a>
    <a href="Eliminar.html">Eliminar</a>
    <div class="row">
        <div >

            <% productos.forEach(function (producto) { %>

            <div>
                <img src="<%= producto.pathh %>" style="height: 100px;"  alt="<%= producto.filename %>">

                <div>
                    <h5><%= producto.codigo %></h5>
                    <h5><%= producto.nombre %></h5>
                    <p><%= producto.descripcion %></p>
                    <p><%= producto.color %></p>
                    <p><%= producto.material %></p>
                    <p><%= producto.existencia %></p>
                    <p><%= producto.precio %></p>
    
                 <a href="/producto/<%= producto.codigo %>" class="btn btn-primary">
                       View 
                    </a>
            </div>
            <% }) %>
        </div>
    </div>
</div>
</div>
    <%-include('../partials/piedepagina.html');%>    
   
   </body> 
</html>