
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop Soto Os</title>
        <%- include("partials/head.html") -%>
    </head>
<%-include('partials/navbar.html');%>    



    <body>
        <div >
            <div >
                <div >
                    <div>
                        <div >
                            <h3>Upload an Image</h3>
                        </div>
                        <div >
                            <form action="/borrar" method="delete" enctype="multipart/form-data">
    
                                <div>
                                    <input type="number" name="codigo" placeholder="Title" >
                                </div>
                              
                                <div >
                                    <button>Eliminar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
<%-include('partials/piedepagina.html');%>    
  
  </body>