
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop Soto Os</title>
        <%- include("../partials/head.html") -%>
    </head>
<%-include('../partials/navbar.html');%>    



    <body>
        <div >
            <div >
                <div >
                    <div>
                        <div >
                            <h3>Upload an Image</h3>
                        </div>
                        <div >
                            <form action="/insertar" method="post" enctype="multipart/form-data">
    
                                <div>
                                    <input type="number" name="codigo" placeholder="Title" >
                                </div>
                                <div >
                                    <input type="text" name="nombre" placeholder="Title" >
                                </div>
                                <div >
                                    <textarea name="descripcion" placeholder="Description" ></textarea>
                                </div>
                                <div >
                                    <input type="text" name="color" placeholder="Title" >
                                </div>
                                <div>
                                    <input type="text" name="material" placeholder="Title" >
                                </div>
                                <div >
                                    <input type="number" name="existencia" placeholder="Title">
                                </div>
                                <div >
                                    <input type="number" name="precio" placeholder="Title">
                                </div>
                                <div >
                                    <div class="custom-file">
                                        <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                        <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose
                                            file</label>
                                    </div>
                                </div>
                                <div >
                                    <button>Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
<%-include('../partials/piedepagina.html');%>    
  
  </body>