
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Shop Soto Os</title>
          <%- include("../partials/head.html") -%>
        </head>
    <body>
        
<%-include('../partials/navbar.html');%>    


    <div class="container p-4">
        <div class="row">
            <% productos.forEach(function (producto) { %>
            <div class="col-md-4 offset-md-4">

                <div class="card animated fadeInDown">
                    <img src="<%= producto.pathh %>" class="card-img-top" alt="<%= producto.filename %>">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= producto.nombre %>
                        </h5>
                        <p class="card-text">
                            <%= producto.descripcion %>
                        </p>
                     
                        <a href="/producto/<%= producto.codigo%>/delete" class="btn btn-danger btn-block">
                            Delete Image
                        </a>
                        <a href="/producto/<%= producto.codigo%>/actualizar" class="btn btn-danger btn-block">
                            Update Image
                        </a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>

</body>

</html>