<nav>
    <div class="container">
        <div class="container-logo">
            <img src="/img/logo2.png" alt=""> 
            <!-- <h2><span>Shop Soto Os</span></h2> -->
        </div>

        <ul class="links">
            <li class="link"><a href="/">Inicio</a></li>
            <li class="link"><a href="">Productos</a></li>
            <li class="link"><a href="">Contacto</a></li>
            <li class="link"><a href="">Carrito</a></li>
        </ul>

        <div class="toggle">
            |||
        </div>
    </div>
</nav>


<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: subtitulos;
    }
    
    :root{
        --principal: #573875;
        --secundario: #9D71C7;
        --principal-fuerte: #432B5B;
        --secundario-bajo: #C0A4DC;
        --complemento1: rgb(0,0,0);
        --complemento2: rgb(255,255,255);
    }
    
    @font-face {
        font-family: subtitulos;
        src: url(/img/subtitulos.otf);
    }
      
    
    body{
        background-color: var(--complemento2);
        overflow: hidden;
    }
    
    nav {
        background-color: var(--secundario-bajo);
        height: 80px;
        position: relative;
    }
    
    .container{
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        line-height: 80px;
        z-index: 100;
    }
    
    .container-logo{
        margin-left: 20px;
        z-index: 100;
        cursor: pointer;
    }
    
    .container-logo img{
        display: flex;
        width: 30%;
        margin-left: 5px;
        z-index: 100;
        cursor: pointer;
    }
    
    .container-logo h2{
        color: var(--principal-fuerte);
        font-weight: 300;
        font-size: 35px;
        letter-spacing: 2px;
    }
    
    .container-logo h2 span{
        color: var(--principal);
        font-weight: 700;
    }
    
    .links .link{
        display: inline-block;
    }
    
    .links .link a{
        text-decoration: none;
        color: var(--principal);
        font-size: 16px;
        margin: 0 8px;
        letter-spacing: 2px;
        transition: .3s
    }
    
    .links .link a:hover{
        color: var(--complemento2);
    }
    
    .toggle{
        color: var(--principal);
        margin-left: 20px;
        font-size: 30px;
        transform: rotate(90deg);
        cursor: pointer;
        transition: .3s;
        display: none;
    }
    
    .rotate {
        transform: rotate(180deg);
    }
    
    @media screen and (max-width: 1000px){
        .toggle{
            display: inline-flex;
        }
    
        .links{
            position: absolute;
            display: flex;
            flex-direction: column;
            background-color: var(--principal-fuerte);
            overflow: hidden;
            height: calc(120vh - 80px);
            width: 100%;
            z-index: -1;
            top: -120vh;
            transition: .5s;
        }
    
        .active{
            top: 80px;
        }
    
        .links .link:hover{
            background-color: var(--secundario);
        }
    
    }
</style>
    
    
<script>
    
    const toggle = document.querySelector('.toggle');
    const links = document.querySelector('.links');

    
    toggle.addEventListener('click', ()=>{
        toggle.classList.toggle('rotate');
        links.classList.toggle('active');
    });
    
</script>