
<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>

<%-include('partials/nav.html');%>    

<div class="row">
    <section>  
       <div class="caja">
        <form action="alondrasotoosuna26x2@gmail.com" method="get">
            <h4>Ponte en contacto con nosotros</h4>
            <hr>
            <label for="Nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre"
            required="true" placeholder="captura tu nombre">
             <br>
             <br>
            <label for="Correo">Correo</label>
            <input type="email" name="correo" id="correo"
            required="true" placeholder="captura tu correo" pattern="">
            <br>
            <br>
            <h6>Comentarios</h6>
            <textarea name="comentarios" id="comentarios" cols="30" rows="10">Escribe aqui...</textarea>
             <br>
             <br>
            <input type="submit" value="Enviar informacion">
             <br>
            <input type="reset" value="limpiar">
        </form>
</div>  
    </section>
</div>

    
    <%-include('partials/piedepagina.html');%>    
</html>