
<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>

<%-include('partials/nav.html');%>    

<div class="row">
    <div id="empresa1">
        <section>
            <div id="p1">
                <h2>¿Quienes somos?</h2>
                <p>Shop Soto Os es una pequeña tienda en linea,
                    donde encuentras todo tipo de accesorios 
                    para dama y caballero, siendo productos 
                    juveniles, únicos y de calidad.</p>
                    <br>
                    <hr>
                    <br>
                <div id="imagenEmpresa1">
                    <img src="/img/ubicacion.jpeg" alt="">  
                </div>
                <br>
                <h2>¿Donde nos ubicamos?</h2>
                <p>Costa dorada #8809, 
                calle miravalles entre
                islas y olas. C.P. 82139</p> 
            </div>
            <div>  
                <div id="imagenEmpresa2">
                    <img src="/img/logo.jpg" alt="">  
                </div> 
                
            </div>
        </section>
    </div>  
    </div>

    
    <%-include('partials/piedepagina.html');%>    
</html>