
<!DOCTYPE html>
<html lang="en">
<%-include('partials/encabezado.html');%>

<%-include('partials/navbar.html');%>   

<body>
    <div class="row">
        <div id="home1">
        <section>
            <div>       
            <h2>Como comprar</h2>
            <hr>
            <p>
                1.Busca y selecciona los productos de tu interés.
                <br>
                <br>
                2.Al finalizar de seleccionar los productos que deseas 
                adquirir ingresa a nuestros contactos, y envianos la 
                lista de tus productos.
                <br>
                <br>
                3.Te contestaremos lo mas pronto posible, para darte
                cotizaciones o poder resolver cualquier otra duda
                que tengas.
            </p>
            </div>
            <br>
            <div id="imagenIndex">
                <img src="/img/Principal.png" alt="">   
            </div> 
        </section>
    </div>
    </div>
    
        
        <%-include('partials/piedepagina.html');%>    
    
</body>
</html>