
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Shop Soto Os</title>
         <%- include("partials/head.html") -%>
        </head>
<%-include('partials/navbar.html');%>    


<div class="container p-4">
    <div class="row">
        <div class="card-columns">

            <% productos.forEach(function (producto) { %>

            <div>
                <img src="<%= producto.pathh %>" class="card-img-top" alt="<%= producto.filename %>">

                <div class="card-body">
                    <h5><%= producto.codigo %></h5>
                    <h5><%= producto.nombre %></h5>
                    <p><%= producto.descripcion %></p>
                    <p><%= producto.color %></p>
                    <p><%= producto.material %></p>
                    <p><%= producto.existencia %></p>
                    <p><%= producto.precio %></p>
    
                 <a href="/producto/<%= producto.codigo %>" class="btn btn-primary">
                       View 
                    </a>
            </div>
            <% }) %>
        </div>
    </div>
</div>
</div>
    <%-include('partials/piedepagina.html');%>    
   
   </body> 
</html>